site_name: Integration Soup Docs
site_description: Documentation for Integration Soup / Integration Host
repo_url: https://github.com/IntegrationSoup/Documentation
edit_uri: edit/main/docs/

theme:
  name: material
  logo: assets/images/logo.png
  favicon: assets/images/favicon.png

  palette:
    - scheme: default
      primary: custom
      accent: custom

  features:
    - navigation.sections
    - navigation.instant
    - navigation.top
    - search.suggest
    - search.highlight
    - content.action.edit

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight

plugins:
  - search
  - awesome-pages

extra_css:
  - assets/stylesheets/extra.css